
.filter{
    margin: 1rem 0;
    display: flex;
}
.filter__proj{
    margin: 1rem auto;
    background-color: var(--custom-gray);
    color: var(--custom-white);
    padding: .5rem;
    font-size: 1.3rem;
}
.filter__proj:hover, .filter__proj--active{
    background-color: var(--main-color);
}
