/*Here starts the "presentation" of the page*/
#header-resume{
    overflow: hidden;
}
#header-resume_landing-page{
    height: calc(100vh - 121px - 3rem);
    padding-top: 2rem;
    padding-bottom: 1rem;
    max-height: 440px;
    width: 100%;
    background-image: linear-gradient(to right, var(--custom-heavyblue), var(--main-color));
    display: flex;
    justify-content: right;
    overflow: hidden;
    text-align: left;
}
#header-resume_landing-page_content{
    width: 30%;
    font-weight: 300;
    justify-content: space-evenly;
    padding-bottom: 2rem;
}
#header-resume_landing-page_content_title{
    color: var(--dontchange-white);
    font-size: 2.5rem;
    text-align: left;
}
#header-resume_landing-page_image-of-mine{
    width: 55%;
    object-fit: contain;
    min-width: 496.094px;
    min-height: 457px;
}
#separator{
    background-color: var(--custom-dark);
    height: 45px;
    width: 100%;
}
#unordered-list{
    color: var(--almost-black);
}
#projContent{
    margin-top: 20px;
}
@media (max-width: 840px){
    #header-resume_landing-page{
        padding-top: 1rem;
        flex-direction: column;
        justify-content: space-between;
        height: calc(100vh - 121px - 3rem);
        min-height: 680px;
    }
    #header-resume_landing-page_content_title{
        text-align: center;
        font-size: 2rem;
    }
    #header-resume_landing-page_content{
        width: 80%;
        margin: 0 auto;
        text-align: center;
    }
    #header-resume_landing-page_image-of-mine{
        min-width: 350px;
        max-width: 480px;
        width: 80%;
        margin: 0 auto;
        transform: translateX(-25px);
    }
}
