@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

:root{
    --main-color: #6563ff;
    --almost-black: #011113;
    --custom-white: #f8f8f8;
    --dontchange-white: #ffff;
    --custom-gray: #707070;
    --curstom-light-gray: #d1d1d1;
    --custom-lightblue: #1792d2;
    --custom-heavyblue: #143774;
    --custom-dark: #1F1F1F;
    --jscolor: #f6dd04;
    --htmlcolor: #f16524;
    --csscolor: #0076be;
}
.dark-theme:root{
    --almost-black: #f8f8f8;
    --custom-lightblue: #1792d2;
    --custom-heavyblue: #143774;
    --custom-white:  #040404; 
    --custom-gray:  #d1d1d1;
    --curstom-light-gray:  #111111;
}
body{
    background-color: var(--curstom-light-gray);
}
a{
    color: var(--almost-black);
    text-decoration: none;
}
nav ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 300px;
}
.iframe-class{
    height: 350px;
    width: 99%
}
html{
    background-color:  var(--custom-light-gray);
}
body{
    font-family: 'Open Sans',Verdana, Tahoma, sans-serif;
    margin: 0;
}

img{
    max-width: 100%;
}
h1, h2, h3{
    color: var(--almost-black);
}
h1{
    font-size: 2.8rem;
    text-align: center;
    margin-block-start: 0;
}
h1 span{
    color: var(--csscolor);
}
h3{
    font-size: 1.5rem;
    color: rgb(90, 90, 90)
}

p{
    margin-top: 0;
    color: var(--almost-black);
}
main a{
    text-decoration: none;
    color: var(--jscolor);
}
main{
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
    background-color: var(--custom-white);
    padding: 3rem;
    box-shadow: 10px 2px 2px rgba(0, 0, 0, 0.226);
}
.cols{
    display: flex;
    text-align: left;
    margin: 1em 0;
    justify-content: space-between;
}
.different-column{
    background-color: var(--custom-gray);
    color: var(--custom-white);
    padding: 0.5em;
}
.col-1{
    width: 20%;
}
.col-2{
    width: 45%;
}
.col-3{
    width: 70%;
}   
.js{
    color: var(--jscolor);
}
.css{
    color: var(--csscolor)
}
.html{
    color: var(--htmlcolor);
}
.col-2 p span{
    color: var(--csscolor);
}
.different-colum p span{
    color: var(--jscolor);
}
footer{
    background-color: var(--almost-black);
    color: var(--custom-white);
    text-align: center;
}
img{
    max-width: 100%;
}
header{
    background-color: var(--custom-white);
    width: 100%;
    color: var(--almost-black);
}
#nav-bar{
    background-color: var(--custom-dark);
    color: var(--custom-white);
    display: flex;
    justify-content: space-between;
    text-align: center;
}
#nav-bar div{
    margin: 0.5rem 2.5rem;
}
#nav-bar h2,h3{
    font-weight: bold;
}
#nav-bar h2{
    margin: 0 auto;
    font-size: 2.5rem;
    color: var(--dontchange-white);
}
#nav-bar h3{
    color: var(--custom-lightblue);
    margin: 0 auto;
    font-size: 13px;
}
.current-page{
    border-bottom: 1px solid var(--dontchange-white);
}
nav ul{
    display: flex;
}
header ul li a{
    text-decoration: none;
    color: var(--dontchange-white)
}
#language{
    background-color: var(--custom-white);
    position: relative;
}
#selected-lang{
    cursor: pointer;
    display: flex;
    line-height: 2;
    width: 110px;
}
#select-lang-flag{
    content: '';
    display: inline-block;
    height: 32px;
    vertical-align: middle;
    width: 32px;
    margin-right: 5px;
}
#language ul{
    margin: 0;
    padding: 0;
    background-color: var(--custom-white);
    border: 1px solid var(--almost-black);
    box-shadow: 0px 1px 5px solid var(--almost-black);
    width: 145px;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}
#language:hover ul{
    display: block;
}
#language ul li {
    list-style: none;
    padding-left: 0;
    margin: 0;
    display: 
    flex;
}
#language ul li a{
    color: var(--almost-black);
    display: block;
    width: 140px;
    padding: 5px 10px;
}
#language ul li a:hover{
    background-color: var(--curstom-light-gray);
    cursor: pointer;
}
#language ul li a:before{
    content: '';
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle;
    height: 32px;
    width: 32px;
}
#us:before{
    background-image: url(https://www.countryflags.io/us/flat/32.png);
    
}
#br:before{
    background-image: url(https://www.countryflags.io/br/flat/32.png);

}
#es:before{
    background-image: url(https://www.countryflags.io/es/flat/32.png);    
}
#it:before{
    background-image: url(https://www.countryflags.io/it/flat/32.png);

}
#top{
    display: flex;
    background-color: var(--custom-white);
    max-width: 900px;
    justify-content: space-between;
    margin: 0 auto;
    
    max-height: 32px;
}
input[type="checkbox"]{
    -webkit-appearance: none;
    visibility: hidden;
    display: none;
}
#theme-changer{
    transform: translateY(30%);
    position: relative;
    display: block;
    width: 40px;
    height: 20px;
    background-color: var(--almost-black);
    cursor: pointer;
    border-radius: 20px;
    overflow: hidden;
    transition: ease-in 0.5s;
}
input[type="checkbox"]:checked ~ #theme-changer{
    background-color: var(--almost-black);
}
#theme-changer:before{
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    background-color: var(--custom-white);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    transition: 0.5s;

}
input[type="checkbox"]:checked ~ #theme-changer:before{
    transform: translateX(130%);
}

#menu-icon{
    display: none;
}

@media (max-width:722px){
    .cols{
        flex-direction: column;
    }
    .col-1, .col-2, .col-3, .different-column{
        width: 100%;
    }
    main{
        padding: 0;
        overflow: hidden;
        width: 100%;
    }
    nav ul li{
        display: block;
    }    
   #menu-list{
        display: none;
        position: absolute;
        flex-direction: column;
        width: 100%;
        top: 70px;
        right: 0px;
        background-color: var(--main-color);
        transition: 1.0s;
        top: 104px;
        padding: 10px 0;
    }
    #menu-list li{
        margin: 1.2rem 0;
    }
    #menu-icon{
        cursor: pointer;
        float: right;
        height: 60px;
        transform: translateY(10%);
        display: block;        
    }
    #menu-icon:focus{
        outline: none;
    }
    .active-menu #menu-list{
        display: block;
        text-align: center;
    }
    #language:hover ul{
        transform: translateX(-21%);
    }

    
}


