@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
/*----------The colors in :root makes the style easier to do----------*/
:root{
    --main-color: #6563ff;
    --almost-black: #011113;
    --custom-white: #f8f8f8;
    --dontchange-white: #ffff;
    --custom-gray: #707070;
    --curstom-light-gray: #d1d1d1;
    --custom-lightblue: #1792d2;
    --custom-heavyblue: #143774;
    --custom-dark: #1F1F1F;
    --jscolor: #f6dd04;
    --htmlcolor: #f16524;
    --csscolor: #0076be;
}
/*----------This class is what makes dark-theme possible----------*/
.dark-theme:root{
    --almost-black: #f8f8f8;
    --custom-lightblue: #1792d2;
    --custom-heavyblue: #143774;
    --custom-white:  #040404; 
    --custom-gray:  #d1d1d1;
    --curstom-light-gray:  #111111;
}
/*==========
Main Layout
==========*/
body{
    background-color: var(--curstom-light-gray);
    min-width: 100%;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 300px;
}
.iframe-class{
    height: 350px;
    width: 99%
}

body{
    font-family: 'Open Sans',Verdana, Tahoma, sans-serif;
    margin: 0;
    width: 100%;
}

img{
    max-width: 100%;
}
/*============
Main Typograph
============*/

h1, h2, h3{
    color: var(--almost-black);
    text-align: center;
}
h1{
    font-size: 2.8rem;
    text-align: center;
    margin-block-start: 0;
}
h1 span{
    color: var(--csscolor);
}
h1, h2{
    color:var(--almost-black)
}
h3{
    font-size: 1.5rem;
    color: rgb(90, 90, 90)
}

p{
    margin-top: 0;
    color: var(--almost-black);
}
a{
    color: var(--csscolor);
    text-decoration: none;
}
#main a{
    text-decoration: none;
}

span{
    font-weight: bolder;
    color: var(--almost-black);
}

/*==========================
Style of Pillars of Websites
==========================*/
#main{
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
    background-color: var(--custom-white);
    padding: 3rem;
    padding-top: 0;
}/*This line is shared in both pages*/
.cols{
    display: flex;
    text-align: left;
    margin: 1em 0;
    justify-content: space-between;
}
.different-column{
    background-color: var(--custom-gray);
    color: var(--custom-white);
    padding: 0.5em;
}
.col-1{
    width: 20%;
}
.col-2{
    width: 45%;
}
.col-3{
    width: 70%;
}   
.js{
    color: var(--jscolor);
}
.css{
    color: var(--csscolor)
}
.html{
    color: var(--htmlcolor);
}
.col-2 p span{
    color: var(--csscolor);
}
.different-colum p span{
    color: var(--jscolor);
}
/*=======================================
Here starts the style of the main project
=======================================*/

/*----------Header and it's children-----------*/
header{
    min-width: 100%;
    margin: 0;
}
footer#social-media{
    text-align: center;
    background-color: var(--custom-dark);
    padding: .7rem 0;
}
footer#social-media a{
    color: var(--dontchange-white);
}
#nav-bar{
    background-color: var(--custom-dark);
    color: var(--custom-white);
    display: flex;
    justify-content: space-between;
    text-align: center;
}
#nav-bar div{
    margin: 0.5rem 2.5rem;
}
#nav-bar h2,h3{
    font-weight: bold;
}
#nav-bar h2{
    margin: 0 auto;
    font-size: 2.5rem;
    color: var(--dontchange-white);
}
#nav-bar h3{
    color: var(--custom-lightblue);
    margin: 0 auto;
    font-size: 13px;
}
.current-page{
    border-bottom: 1px solid var(--dontchange-white);
}
nav ul{
    display: flex;
}
header ul li a{
    text-decoration: none;
    color: var(--dontchange-white)
}
#menu-icon{
    display: none;
}
/*-----------------------------------------------
Top layout and formatation that contains language switcher and theme-changer
-----------------------------------------------*/
#top{
    display: flex;
    background-color: var(--custom-white);
    justify-content: space-between;
    margin: 0 auto;
    
    max-height: 32px;
}
    /*--------------------------
    Starts the language switcher
    --------------------------*/
#language{
    background-color: var(--custom-white);
    position: relative;
}
#selected-lang{
    cursor: pointer;
    display: flex;
    line-height: 2;
    width: 110px;
}
#select-lang-flag{
    content: '';
    display: inline-block;
    height: 32px;
    vertical-align: middle;
    width: 32px;    
    margin-right: 5px;
}
#language ul{
    margin: 0;
    padding: 0;
    background-color: var(--custom-white);
    border: 1px solid var(--almost-black);
    box-shadow: 0px 1px 5px solid var(--almost-black);
    width: 145px;
    display: none;
    position: absolute;
    top: 0;
    right: 0;
}
#language:hover ul{
    display: block;
}
#language ul li {
    list-style: none;
    padding-left: 0;
    margin: 0;
    display: 
    flex;
}
#language ul li a{
    color: var(--almost-black);
    display: block;
    width: 140px;
    padding: 5px 10px;
}
#language ul li a:hover{
    background-color: var(--curstom-light-gray);
    cursor: pointer;
}
#language ul li a:before{
    content: '';
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle;
    height: 32px;
    width: 32px;
}
#us:before{
    background-image: url(https://www.countryflags.io/us/flat/32.png);
    
}
#br:before{
    background-image: url(https://www.countryflags.io/br/flat/32.png);

}
#es:before{
    background-image: url(https://www.countryflags.io/es/flat/32.png);    
}
#it:before{
    background-image: url(https://www.countryflags.io/it/flat/32.png);

}
    /*---------------------
    Close language switcher
    ---------------------*/

    /*------------------
    Starts theme-changer
    ------------------*/
input[type="checkbox"]{
    -webkit-appearance: none;
    visibility: hidden;
    display: none;
}
#theme-changer{
    transform: translateY(30%);
    position: relative;
    display: block;
    width: 40px;
    height: 20px;
    background-color: var(--almost-black);
    cursor: pointer;
    border-radius: 20px;
    overflow: hidden;
    transition: ease-in 0.5s;
}
input[type="checkbox"]:checked ~ #theme-changer{
    background-color: var(--almost-black);
}
#theme-changer:before{
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    background-color: var(--custom-white);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    transition: 0.5s;

}
input[type="checkbox"]:checked ~ #theme-changer:before{
    transform: translateX(130%);
}
    /*-----------------
    close theme-changer
    -----------------*/

/*----------Close Header----------*/

/*===================================================
Media query of Pillars of Websites and portfolio page
===================================================*/

@media (max-width:722px){
    .cols{
        flex-direction: column;
    }
    .col-1, .col-2, .col-3, .different-column{
        width: 100%;
    }
    #main{
        padding: 1rem;
        overflow: hidden;
        width: 90%;
    }
    nav ul li{
        display: block;
    }    
   #menu-list{
        display: none;
        position: absolute;
        flex-direction: column;
        width: 100%;
        right: 0px;
        background-color: var(--main-color);
        transition: 1.0s;
        top: 120px;
        padding: 10px 0;
    }
    #menu-list li{
        margin: 1.2rem 0;
    }
    #menu-icon{
        cursor: pointer;
        float: right;
        min-width: 50%;
        height: 89px;
        width: 60px;
        object-fit: contain;
        display: block;   
    }
    #menu-icon:focus{
        outline: none;
    }
    .active-menu #menu-list{
        display: block;
        text-align: center;
    }
    #language:hover ul{
        transform: translateX(-21%);
        position: absolute;
    }
}

@media (max-width: 442px){
    #menu-list{
        top: 160px;
    }
    #menu-icon{
        height: 128px;
    }
}
/*===============
Close Media Query
===============*/

/*==========================
Here starts the Resume style
==========================*/

.article-title{
    font-size: 1.5rem;
}
.info{
    font-size: 0.75rem;
}

/*-----------Layout-----------*/
.container{
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
    padding: 0.7rem;
    box-shadow: 10px 2px 2px rgba(0, 0, 0, 0.226);
}
.container-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--custom-white);
    padding: 3.5rem;

}
.widget-image{
    max-width: 100%;
}
#main-resume{
    width: 65%;
}
aside{
    width: 30%;
}
.article-info{
    margin: 0 auto;
}
.read-more{
    display: block;
    text-align: center;
}
#article-primary{
    border-bottom: var(--custom-gray) 1px solid;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
}
.article-recent{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}
.article-recent-secondary{
    order: 1;
    margin-top: 1rem;
    width: 30%;
}
.article-recent-main{
    order: 2;
    width: 68%;
}
.article-body{
    text-align: justify;
}
.article-image{
    object-fit: cover;
    width: 100%;
    height: 200px;
}
.sidebar-widget{
    border: 25px solid var(--curstom-light-gray);
    padding: 0.7rem;
    margin-bottom:  1.5rem;
}

.image-full{
    max-height: 150px;
    width: 100%;
    object-fit: cover;
}
header{
    width: 100%;
}
#unordered-list{
    color: var(--almost-black);
}
#projContent{
    margin-top: 19.920px;
}
/*=========================================================
This media queries that makes the portfolio site responsive
=========================================================*/
@media (max-width: 900px){
    .container-flex{
        padding: 1rem;
    }
    .article-recent-main{
        width: 70%;
    }
    .article-recent-secondary{
        min-width: 25%;
        margin-right: 10px;
    }
    img{
    max-width: 100%;
    display: block
    }
    #main-resume{
        box-shadow: none;
    }  
} 

@media (max-width: 720px){
    .container-flex{
        display: block;
        }
    #main-resume, #aside{
        width: 100%;
    }
    .container-flex{
        flex-direction: row;
    }
    .article-recent-secondary{
        order: 1;
        width: 30%;
        object-fit: cover;
    }
    .article-recent-main{
        order: 2;
        width: 68%;
    }
    .article-image{
        object-fit: cover;
        width: 100%;
        min-height: 250px;
    }
    /*This combination changes the order of the elements*/
    .article-recent{
        display: flex;
        flex-direction: column;
    }
    .article-recent-main{
        width: 100%;
        order: 2
    }
    .article-recent-secondary{
        width: 100%;
        order: 1
    }
    .widget-image{
        width: 100%;
    }
    .article-image{
        min-width: 100%;
    }
    img{
        width: 100%;
        display: block
    }
}
/*================
Close Resume style
================*/
/*========
Contact me
========*/
#contactContent{
    display: flex;
}
#me{
    text-align: center;
}